extends ../layout

block content
  .row
    .col-sm-4
      .panel.panel-default
        .panel-body
          img.toggle(src='../img/tshirts/dropbox/dropbox-white.png', width="100%;")
    .col-sm-4
      .panel.panel-default
        .panel-body
          img.toggle(src='../img/tshirts/dropbox/dropbox-blue.png', width="100%;")
    .col-sm-4
      .panel.panel-default
        .panel-body
          img.toggle(src='../img/tshirts/dropbox/dropbox-grey.png', width="100%;")
    .col-sm-4
      .panel.panel-default
        .panel-body
          img.toggle(src='../img/tshirts/dropbox/dropbox-green.png', width="100%;")
  
